<%- include ("./partials/navbar") %>

<p>Min. Temp: <%= data.main.temp_min %></p>
<p>Max. Temp: <%= data.main.temp_max %></p>
<p>Pressure: <%= data.main.pressure %></p>
<p>Humidity: <%= data.main.humidity %></p>